<h3>Clientes</h3>

<a href="/clientes/novo" class="btn btn-primary">Novo</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Cancelado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each listaclientes}}
        <tr> <!-- Table ROW --> 
            <td>{{this.id}}</td> <!-- Table DATA --> 
            <td>{{this.nome}}</td>
            <td>{{this.endereco}}</td>
            <td>{{this.telefone}}</td>
            <td>{{this.cancelado}}</td>
            <td>
                <a href="/clientes/alterar/{{this.id}}" class="btn btn-primary">Alterar</a>

            </td>
        </tr>
        {{/each}}
    </tbody>
</table>